.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;

  &__item {
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;

    &:hover {
        border: 1px solid rgb(122, 0, 0, .4);
        border-radius: 20px;
    }
  }
}

.show-more{
    display: flex;
    justify-content: center;
}
